<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile=".\AnagramConsole_Logging\internal-nlog.txt"
      throwExceptions="true"
      throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File"
            name="AnagramConsole-File"
            fileName=".\AnagramConsole_Logging\AnagramConsole-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${uppercase:${level}}| ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Warning" writeTo="AnagramConsole-File" />
    <logger name="*" minlevel="Info" writeTo="AnagramConsole-File" />
  </rules>
</nlog>